.navbar li {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    border-width: 2px;
    border-color: rgb(239, 68, 68);
}

.router-link-active li {
    background: rgb(239, 68, 68);
    background: linear-gradient(90deg, rgba(239, 68, 68, 1) 0%, rgba(239, 63, 63, 1) 20%, rgba(239, 33, 33, 1) 50%, rgba(239, 63, 63, 1) 80%, rgba(239, 68, 68, 1) 100%);
    border-width: 2px;
    border-color: rgb(236, 117, 117);
}

.navbar li:hover {
    background-color: rgb(196, 86, 86);
}

.router-link-active {
    color: white;
}

html {
    height: 100%;
}

#app {
    background-color: rgb(228, 184, 126);
}

.petri-nav button {
    background-color: grey;
}

.petri-nav button:hover {
    background-color: white;
}