li {
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
}

.router-link-active li {
    background-color: rgb(167, 167, 167);
}

li:hover {
    background-color: rgb(196, 86, 86);
}

.router-link-active {
    color: white;
}